[submodule "external/vgui"]
	path = external/vgui
	url = https://github.com/FWGS/vgui-dev.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
